/*
   Lab3A.css
    Author: Agesh Gnanaseharam
    Date: October 12 2023
    Description: This page will be my css file
    Examples are from: https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Typesetting_a_homepage
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

.Font{
font-size: 10px;
line-height: normal;
letter-spacing: 1px;
word-spacing: 1px;
}

.lineheight{
line-height: 2;
}

.h1{
  text-align: center;
}

.spacing{
  letter-spacing: 2px;
}

.bodyspacing{
  letter-spacing: 1px;
  word-spacing: 1px;
}

.indent{
  text-indent: 20px;
}

.link
      a:link{
        color:solid #a66;
        outline: none;
      }
.link1
  a:visited{
    color: blue;
    outline: none;
  }
.link2
a:focus{
  color: aqua;
  text-decoration: none;
  outline: none;
}

.link4
a:active{
  color: solid #a66;
  outline: none;
}

.img{
  background-image: url("external-link-52.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.bulletpoint{
  list-style-type: upper-roman;
}

.NavMenu{
  list-style-type: none;
  display: inline-block;
  text-align: center;
  line-height: normal;
  font-size: larger;
  border-color: #a66;
} 